@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');


*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f8f9fa;
}

#closeIconNav{
    position: absolute;
    color: black;
    top: 1em;
    left: 1em;
    z-index: 9;
    font-size: 2em;
}

.main .container-nav{
    background-color: #302634;
    color: #fff;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 2em;
    position: fixed;
    z-index: 8;
    transition: .5s;
}

.main .container-nav a:nth-child(1){
    text-decoration: none;
    margin-top: 4em;
    transition: 0.3s;
}

.main .container-nav a:nth-child(2){
    text-decoration: none;
    margin-top: 2em;
    transition: 0.3s;
}

.main .container-nav a{
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
}

.main .container-nav a:hover{
    background-color: #614d69;
}

.main .container-generic{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main .container-generic .container-header{
    background-color: #fff;
    width: 100%;
    height: 5.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .container-generic .container-header div:nth-child(2){
    width: 200px;
    font-size: 1.2em;
    margin-right: 4em;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.main .container-generic .container-header div img{
    margin: 2em 4em;
}

.main .container-generic .container-body{
    width: 100%;
    height: 80%;
    display: flex;
}

.main .container-generic .container-body .search-box{
    width: 60%;
}

.main .container-generic .container-body .service-box{
    width: 40%;
}

.main .container-generic .container-body .search-box .query-box{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5em;
}


.main .container-generic .container-body .search-box .query-box h1{
   font-size: 4.2em;
   text-indent: 0.5em;
   color: #049ef4;
   font-weight: 900;
}

.main .container-generic .container-body .search-box .query-box h4{
    margin-top: 1em;
}

.main .container-generic .container-body .search-box .query-box form{
  width: 88%;
  margin-top: 1em;
}

.main .container-generic .container-body .search-box .query-box form input{
    width: 60%;
    height: 50px;
    font-size: 1em;
    border: 1px solid #00519e;
    color: #00519e;
    padding-left: 1em;
}

.main .container-generic .container-body .search-box .query-box form select{
    width: 20%;
    height: 50px;
    font-size: 1em;
    border: 1px solid #00519e;
    background-color: #d8f1ff;
    color: #00519e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.main .container-generic .container-body .search-box .query-box form button{
    width: 16%;
    height: 50px;
    font-size: 1.3em;
    color: #fff;
    background-color: #049ef4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .container-generic .container-body .search-box .options-box{
    width: 85%;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 1em 5em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.main .container-generic .container-body .search-box .options-box div{
    width: 15em;
    height: inherit;
    padding-left: 1em;
}

.main .container-generic .container-body .search-box .options-box div h2{
    color: #00519e;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 1.5em;

}

.main .container-generic .container-body .search-box .options-box div .option-btn{
    min-width: 50%;
    height: 35px;
    color: #27a22d;
    background-color: white;
    border: 1px solid #27a22d;
    border-radius: 5px;
    font-weight: 500;
}

.main .container-generic .container-body .service-box .container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main .container-generic .container-body .service-box .container-image img{
    width: auto;
    height: auto;
}

.main .container-generic .container-body .service-box .quipux-service{
    background-color: rgba(255, 255, 255, 0.9);
    height: 100px;
    width: 90%;
    margin: -150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    color: #00519e;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main .container-generic .container-body .service-box .quipux-service h1{
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main .container-generic .container-body .service-box .procedures-box{
    height: 230px;
    width: 90%;
    margin: 200px auto;
    border-radius: 10px;
    border-left: 1em solid #00519e;
    box-shadow: 1px 1px 10px 1px #ccc;
}


.main .container-generic .container-body .service-box .procedures-box div{
    width: 90%;
    margin-left: 2em;
    margin-top: 20px;
}

.main .container-generic .container-body .service-box .procedures-box h2{
    color: #00519e;
    padding-top: 1em;
    font-weight: 900;
    font-size: 2em;
}

.main .container-generic .container-body .service-box .procedures-box p{
    font-size: 1em;
}

.main .container-generic .container-footer{
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) and (max-width:1024px){
    .main .container-generic .container-body .search-box .query-box{
        width: 95%;
        margin: 0 auto;
    }

    .main .container-generic .container-body .search-box .query-box h1{
        width: 100%;
        text-align: center;
        text-indent: 0;
     }

     .main .container-generic .container-body .search-box .query-box h4{
        width: 100%;
        text-align: center;
    }
    
    .main .container-generic .container-body .search-box .query-box form{
      width: 100%;
      margin: 1em auto;
    }
    
    .main .container-generic .container-body .search-box .query-box form input{
        width: 60%;
    }
    
    .main .container-generic .container-body .search-box .query-box form button{
        width: 19%;
    }

    .main .container-generic .container-body .search-box .options-box{
        width: 95%;
        margin: 30px auto;
        text-align: center;
    }
    
    .main .container-generic .container-body .search-box .options-box div{
        width: 100%;
        padding-left: 1em;
    }

    .main .container-generic .container-body{
        flex-direction: column;
    }

    .main .container-generic .container-body .search-box{
        width: 100%;
    }
    
    .main .container-generic .container-body .service-box{
        width: 100%;
    }
}

@media only screen and (max-width: 745px){
    .main .container-generic .container-body .search-box .query-box h1{
        font-size: 3.5em;
     }

     .main .container-generic .container-body .search-box .query-box h4{
        width: 100%;
        text-align: center;
    }
    
    .main .container-generic .container-body .search-box .query-box form{
      flex-direction: column;
      width: 100%;
    }

    .main .container-generic .container-body .search-box .query-box form select{
        width: 100%;
    }
    
    .main .container-generic .container-body .search-box .query-box form input{
        width: 100%;
    }
    
    .main .container-generic .container-body .search-box .query-box form button{
        width: 100%;
    }
}

/* EMPRESAS */
.main .container-generic .container-header .menu{
    display: grid;
    grid-template-columns: 1.5em 5em 10em;
    align-items: center;
    padding: 1.5em;
    color: #ccc;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
}
.main .container-generic .container-body .ctn-info{
    width: 40%;
    height: inherit;
    padding: 1em 0 0 1em;
    text-transform: uppercase;
    background-color: #fff;
    margin: 2em 5em;
}
.main .container-generic .container-body .ctn-info .ctn-body{
    padding-top: 1em;
    text-align: center;
    text-transform: none;
}
.main .container-generic .container-body .ctn-info .ctn-body h2{
    font-weight: 900;
    font-size: 1.4em;
}

.main .container-generic .container-body .ctn-info .ctn-body p{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
}
.main .container-generic .container-body .ctn-contacto{
    width: 60%;
    height: inherit;
    padding: 1em 0 0 1em;
    text-transform: uppercase;
    background-color: #fff;
    margin: 2em 2em ;   
}
.main .container-generic .container-body .ctn-contacto .ambos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1em;
    text-align: center;
    text-transform: none;
}

.main .container-generic .container-body .ctn-contacto .ambos .ctn-info-direccion{
    border-right: 1px solid black;
}
.main .container-generic .container-body .ctn-contacto .ambos h2{
    font-weight: 900;
    font-size: 1.4em;
}

.main .container-generic .container-body .ctn-contacto .ambos p{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
}

/* ARTICULOS */

.main .container-generic .container-body .art-contacto{
    width: 40%;
    height: inherit;
    padding: 1em 0 0 1em;
    text-transform: uppercase;
    background-color: #fff;
    margin: 2em 5em;
    
}

.main .container-generic .container-body .art-contacto .contacto{
    text-align: center;
    text-transform: none;
}

.main .container-generic .container-body .contacto .contacto-info h2{
    font-weight: 900;
    font-size: 1.4em;
}

.main .container-generic .container-body .contacto .contacto-info  p{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
}

.main .container-generic .container-body .art-info{
    width: 60%;
    height: inherit;
    background-color: #fff;
    margin: 2em 2em ;
}

.main .container-generic .container-body .art-info .carousel-inner img {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0px auto;
    border-radius: 1em;
}

.page-section{
    text-transform: none;
    padding-top: 2em;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.team-member img {
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.main .container-generic .container-body .art-info .scroll-articulo{
    height: 15em;
    width: 100%;
    overflow-y: scroll;
    margin-top: 2em;
}
