@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');


*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f8f9fa;
}

.fake-menu{
    width: 100px;
    height: 100%;
}

.main .container-nav{
    background-color: #302634;
    color: #fff;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    position: fixed;
}

.main .container-nav i:nth-child(1){
    margin-top: 70px;
}

.main .container-nav i:nth-child(2){
    margin-top: 70px;
}

.main .container-nav i:nth-child(3){
    margin-top: 70px;
}

.main .container-generic{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main .container-generic .container-header{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .container-generic .container-header div:nth-child(2){
    margin-right: 50px;
    width: 200px;
    display: inline-flex;
    font-size: 25px;
    justify-content: space-around;
}

.main .container-generic .container-header div img{
    margin: 100px 50px;
}

.main .container-generic .container-body{
    width: 100%;
    height: 83vh;
    display: flex;
}

.main .container-generic .container-body .search-box{
    width: 60%;
    height: inherit;
}

.main .container-generic .container-body .service-box{
    width: 40%;
    height: inherit;
}

.main .container-generic .container-body .search-box .query-box{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
}


.main .container-generic .container-body .search-box .query-box h1{
   font-size: 60px;
   text-indent: 30px;
   color: #049ef4;
   font-weight: 900;
}

.main .container-generic .container-body .search-box .query-box h4{
    margin-top: 20px;
  }

.main .container-generic .container-body .search-box .query-box form{
  width: 80%;
  margin-top: 20px;
}

.main .container-generic .container-body .search-box .query-box form input{
    width: 505px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #00519e;
    color: #00519e;
    padding-left: 25px;
}

.main .container-generic .container-body .search-box .query-box form select{
    width: 230px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #00519e;
    background-color: #d8f1ff;
    color: #00519e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.main .container-generic .container-body .search-box .query-box form button{
    width: 100px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    background-color: #049ef4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .container-generic .container-body .search-box .options-box{
    width: 80%;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 30px 50px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.main .container-generic .container-body .search-box .options-box div{
    width: 200px;
    height: inherit;
}

.main .container-generic .container-body .search-box .options-box div h2{
    color: #00519e;
    font-weight: 900;
    font-size: 24px;
    margin-top: 30px;
}

.main .container-generic .container-body .search-box .options-box div .option-btn{
    width: 130px;
    height: 35px;
    color: #27a22d;
    background-color: white;
    border: 1px solid #27a22d;
    border-radius: 5px;
    font-weight: 500;
}

.main .container-generic .container-body .service-box .container-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container-generic .container-body .service-box .quipux-service{
    background-color: rgba(255, 255, 255, 0.9);
    height: 100px;
    width: 600px;
    margin: -150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    color: #00519e;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main .container-generic .container-body .service-box .quipux-service h1{
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main .container-generic .container-body .service-box .procedures-box{
    height: 240px;
    width: 600px;
    margin: 200px auto;
    border-radius: 10px;
    border-left: 8px solid #00519e;
}

.main .container-generic .container-body .service-box .procedures-box h2,
.main .container-generic .container-body .service-box .procedures-box p,
.main .container-generic .container-body .service-box .procedures-box progress{
    width: 70%;
    margin-left: 40px;
    margin-top: 20px;
}

.main .container-generic .container-body .service-box .procedures-box h2{
    padding-top: 30px;
    color: #00519e;
    font-weight: 900;
}

.main .container-generic .container-footer{
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EMPRESAS */
.main .container-generic .container-header .menu{
    display: grid;
    grid-template-columns: 1.5em 5em 10em;
    align-items: center;
    padding: 1em;
    color: #ccc;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
}
.main .container-generic .container-body .ctn-info{
    width: 40%;
    height: inherit;
    padding: 2em 0 0 2em;
    text-transform: uppercase;
    background-color: #fff;
    margin: 2em 2em;
}
.main .container-generic .container-body .ctn-info .ctn-body{
    padding-top: 1em;
    text-align: center;
    text-transform: none;
}
.main .container-generic .container-body .ctn-info .ctn-body h2{
    font-weight: 900;
    font-size: 1.4em;
}

.main .container-generic .container-body .ctn-info .ctn-body p{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
}
.main .container-generic .container-body .ctn-contacto{
    width: 60%;
    height: inherit;
    padding: 2em 0 0 2em;
    text-transform: uppercase;
    background-color: #fff;
    margin: 2em 2em;   
}
.main .container-generic .container-body .ctn-contacto .ambos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1em;
    text-align: center;
    text-transform: none;
}

.main .container-generic .container-body .ctn-contacto .ambos .ctn-info-direccion{
    border-right: 1px solid black;
}
.main .container-generic .container-body .ctn-contacto .ambos h2{
    font-weight: 900;
    font-size: 1.4em;
}

.main .container-generic .container-body .ctn-contacto .ambos p{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
}


